node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

# Visual Studio specific files
.vscode/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Ignore firebaseConfig.js
/Frontend/navigation/routing/firebaseConfig.js

# Ignore appsettings.Development.json
appsettings.Development.json
/Backend/Backend/appsettings.Development.json

#Ignore FirebaseConfiguration.h
/sketch/FirebaseConfiguration.h